@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


.main{
    width: 100%;
    height: 6500px;
}

.btn{
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 30;
    line-height: normal;
    letter-spacing: -0.72px;
    background-color: #000;
}
.text{
    color: #000;
    font-family: Poppins;
    font-style: normal;
}
.rect{
    width: 464.743px;
    height: 112.14px;
    transform: rotate(-2deg);
    position: absolute;
}
.str{
    z-index: 0;
    width: 58px;
    height: 56px;
}
.hero-section{
    width: 100%;
    height: 1265px;
}

/* Open Hero section*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#logo{
    width: 230px;
    height: 60px;
}

#nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#nav-links li a{
    text-decoration: none;
    padding-left: 65px;
    color: #242323;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.22px;
}

.sign-btn{
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    width: 124px;
    height: 50px;
}

.hs-bg{
    height: 852px;
    border-radius: 59px;
    background: #F4F6F5;
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

.bg1{
    width: 450px;
    margin-left: 50px;
    padding-top: 10px;
}
.bgtxt{
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
    z-index: 1;
    position: relative;
}

.smtxt{
    color: #191818;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
}
.one{
    background-color: #fff;
    z-index: 0;
    position: absolute;
    margin-top: 100px;
}

.two{
    background: #EBD96B;
    z-index: 0;
    position: absolute;
    margin-top: 350px;
}
.bg-box{
    display: flex;
    justify-content: space-between;
}

.shop-btn{
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 220px;
    height: 50px;
}

#girl{
    padding-top: 50px;
    width: 750px;
    height: 650px;
    z-index: 1;
}

.pos1{
    position: absolute;
    top: 282px;
    left: 1048px;
}

.pos2{
    position: absolute;
    top: 330px;
    left: 1578px;
}

.pos3{
    position: absolute;
    top: 930px;
    left: 1595px;

}

.pos4{
    position: absolute;
    top: 926px;
    left: 891px;
}

.brands{
    height: 186px;
    background: #EBD96B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoImg{
    width: 166px;
    height: 63px;
}

/*Close Hero section*/

/*open Vouchers*/

.vouchers{
    width: 100%;
    height: 1067px;
}

.header-voucher{
    padding: 50px ;
    color: #000;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 2.88px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.card-head{
    color: #191919;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    
}

.en{
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    
}

.card-btm{
    display: flex;
    justify-content: space-between;
}

.arr{
    padding-top: 50px;
    width: 32px;
    height: 20px;
}
/*Close vouchers*/

/*open Offer*/
.offer{
    width: 100%;
    height: 970px;
    background: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);
}

.offerbox{
    display: flex;

}
.offertxt{
    width: 500px;
}
#date{
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.721px;
}

.offerdateTxt{
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.721px;
}
/*close Offer*/

/*open App*/
.appInfo{
    width: 100%;
    height: 750px;
    
}

.infoBox{
    margin: 100px 0 0 400px;
    height: 710px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.appTxt{
    width: 600px;
    padding-top: 40px;
}

.downloadApp{
    width: 204px;
    height: 71px;
}

.communite{
    width: 100%;
    height: 623px;
    background: #E5C643;
    margin-top: 200px;
}
.comTxt{
    padding-top: 50px;
    padding-left: 450px;
    text-align: center;
    width: 1000px;
}

.comHeader{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; 
    letter-spacing: 1.65px;
}

.comSmTxt{
    color: #FFFCF8;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    letter-spacing: 0.96px;
}

.addEmail{
    text-align: center;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    margin-left: 285px;
}

input{
    border: none;
    font-size: 20px;
    
}
.send{
    cursor: pointer;
    height: 45px;
    width: 80px;
    border-radius: 10px;
    margin-top: 2px;
}
/*close App*/

/*open footer*/
.footer{
    width: 100%;
    height: 545px;
    display: flex;
    justify-content: space-between;
    background: #000;
}
.socialmediaLinks{
    padding: 50px;
    width: 415px;
    height: 80px;
}

.smLogo{
    width: 52px;
    height: 52px;
    padding-left: 10px;
}
.somTitle{
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.somtxt{
    color: #8E8E8E;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.48px;
}

.footerBox{
    padding: 50px;
    width: 890px;
    height: 273px;
    display: flex;
    justify-content: space-between;
}

.smBox{
    padding: 30px;
}

.smBoxtitle{
    color: #D9D9D9;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.48px;
}

.smList{
    list-style: none;
}

.smList li a{
    text-decoration:none;
    transition:.3s ease all;
    padding-top: 5px;
    color: #8E8E8E;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 0.48px;
}

/*close footer*/